.DS_Store
HOLY.xcodeproj/project.xcworkspace/xcuserdata/klimbakulin.xcuserdatad/UserInterfaceState.xcuserstate
HOLA.xcodeproj/project.xcworkspace/xcuserdata/klimbakulin.xcuserdatad/UserInterfaceState.xcuserstate
